{% extends 'shop/basic.html' %}
{% block body %}
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://source.unsplash.com/1400x400/?smartphones" class="d-block w-100" alt="https://source.unsplash.com/1400x400/?smartphones">
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="https://source.unsplash.com/1400x400/?smartphones" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/1400x400/?jeans" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div>
    <div class="container">
       <div class="card" style="width: 18rem;">
  <div class="image"><img src=" /media/{{product.0.image}}" alt="..."></div>
  <div class="card-body">
    <h5 class="card-title">{{product.0.product_name}}</h5>

    <button  class="btn btn-primary cart">Add to cart</button>
  </div>
</div>
       <div class="card" style="width: 18rem;">
         <div class="image"><img src="/media/{{product.1.image}}" class="card-img-top" alt="..."></div>
  <div class="card-body">
    <h5 class="card-title">{{product.1.product_name}}</h5>
    <a href="#" class="btn btn-primary">Add to cart</a>
  </div>
</div>
       <div class="card" style="width: 18rem;">
         <div class="image"><img src="/media/{{product.2.image}}" class="card-img-top" alt="..."></div>
  <div class="card-body">
    <h5 class="card-title">{{product.2.product_name}}</h5>
    <button  class="btn btn-primary cart">Add to cart</button>
  </div>
</div>
       <div class="card" style="width: 18rem;">
         <div class="image"><img src="/media/{{product.3.image}}" class="card-img-top" alt="..."></div>
  <div class="card-body">
    <h5 class="card-title">{{product.3.product_name}}</h5>
    <button  class="btn btn-primary cart">Add to cart</button>
  </div>
</div>
       <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>



    </div>

{% endblock %}
{% block css %}
.card{
display:inline-block;
margin-top: 10px;

}
.image{
height: 286px;
width: 286px;
margin-right: 200px;
}
{% endblock %}
{% block js %}
<script>
console.log('hello');
console.log("hello");
if(localStorage.getItem('cart')==null){
var cart={};
}
else{
cart=JSON.parse(localStorage.getItem('cart'));
}


$('.cart').click(function(){
console.log('clicked');
});
</script>

{% endblock  %}